@font-face {
  font-family: "Jinling";
  src: url("fonts/FZXiJinLJW.TTF") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 15px;
  color: #e1e1e1;
}

span {
	padding: 10px;
	margin: 10px;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	display: inline-block;
	text-align: center;
	line-height: 15px;
	cursor: pointer;
	opacity: .7;
	transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 2.55);
}

span:hover {
	transform: scale(1.2);
	opacity: 1
}

.colorName {
	font-family: "Jinling";
	position: absolute;
	font-size: 18em;
	left:0;
	top: 0;
	opacity: 0;
	writing-mode: vertical-rl;
	white-space: nowrap;
	transform: translate(-25%, -10%);
	animation: fadeOut 5s ease;
}

@keyframes fadeOut {
	0% { opacity: .1; }
	50% { opacity: .1; }
	100% { opacity: 0; }
}

@font-face {
	font-family: 'icomoon';
	src:  url('fonts/icomoon.eot?mo2cpr');
	src:  url('fonts/icomoon.eot?mo2cpr#iefix') format('embedded-opentype'),
	  url('fonts/icomoon.ttf?mo2cpr') format('truetype'),
	  url('fonts/icomoon.woff?mo2cpr') format('woff'),
	  url('fonts/icomoon.svg?mo2cpr#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
	content: "\e900";
}
.icon-download3:before {
	content: "\e9c7";
}
.icon-pause2:before {
	content: "\ea1d";
}
