@font-face {
  font-family: "Jinling";
  src: url("fonts/FZXiJinLJW.TTF") format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#poem {
  position: absolute;
  top: 30vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  font-family: "Jinling";
  font-size: 30px;
  color: rgb(20, 35, 52);
  /* writing-mode: vertical-rl; */
}

.container {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 20px;
  color: #e1e1e1;
}

span {
	padding: 13px;
	margin: 10px;
	border: 2px solid #e1e1e1;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	display: inline-block;
	text-align: center;
	line-height: 20px;
	cursor: pointer;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yia514');
  src:  url('fonts/icomoon.eot?yia514#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yia514') format('truetype'),
    url('fonts/icomoon.woff?yia514') format('woff'),
    url('fonts/icomoon.svg?yia514#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\e900";
}
.icon-download3:before {
  content: "\e9c7";
}
