// @font-face {
//   font-family: 'FZXiJinLJW';
//   src: url('../fonts/FZXiJinLJW.ttf') format('truetype');
// }

// @font-face {
//   font-family: 'qiji';
//   src: url('../fonts/qiji.woff2') format('woff2');
// }

a {
  color: inherit;
  text-decoration: none;
}
