#jizhi-search {
  position: absolute;
  top: 20px;
  left: 30px;
  display: flex;
  align-items: center;
  opacity: .4;

  input {
    outline: none;
    border: none;
    background-color: transparent;
    box-shadow: none;
    width: 150px;
    font-size: 16px;
    color: #000000;
    margin-left: -25px;
    padding-left: 35px;
    height: 40px;
    border-bottom: 2px #242424 solid;
    opacity: 0;

    &:hover {
      opacity: .4;
    }
    &.active {
      opacity: .8;
    }
  }
}
