@import './colors';

.verses {
  font-family: 'FZXiJinLJW';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  text-align: center;
  opacity: .8;
  word-break: keep-all;
  transition: top 300ms ease-in-out;
  #verses-content {
    font-size: calc(30px + 1vw);
    width: 80vw;
  }
}

.verses.vertical {
  writing-mode: vertical-rl;
  #verses-content {
    width: auto;
  }
}

#verses-origin {
  display: flex;
  margin-top: 1em;
  font-size: calc(10px + 1vw);
  justify-content: center;
  align-items: center;
  .stamp {
    color: $white;
    background-color: $dark-red;
    border-radius: 3px;
    padding: 3px 4px;
    font-size: 67%;
    letter-spacing: -1px;
  }
}

#verses-origin:hover .origin-search-icon {
  opacity: .5;
}

.origin-search-icon {
  opacity: 0;
  transition: all 200ms ease-in;
}
