@font-face {
  font-family: "FZXiJinLJW";
  src: url("./fonts/FZXiJinLJW.ttf") format("truetype");
}

html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#root {
  height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

.verses {
  font-family: 'FZXiJinLJW';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50vw;
  text-align: center;
  opacity: .8;
  word-break: keep-all;
  transition: top 300ms ease-in-out;
}

.blobs {
  top: 45vh;
}

.waves {
  top: 30vh;
}

#verses-content {
  font-size: calc(25px + 1vw);
  width: 80vw;
}

#verses-origin {
  margin-top: 1em;
  font-size: calc(12px + 1vw);
}

.origin-search-icon {
  opacity: 0;
  transition: all 200ms ease-in;
}

#verses-origin:hover .origin-search-icon {
  opacity: .5;
}

#menu {
  position: absolute;
  right: 3vw;
  bottom: 3vh;
}

#menu-btn {
  opacity: .6; 
  cursor: pointer;
  transition: all 300ms ease;
  transform-origin: 50% 50%;
}

#menu-btn:hover {
  opacity: 1;
}

#menu-btn.open {
  opacity: 1;
  transform: rotate(45deg) scale(1.1);
}

#jizhi-search {
  position: absolute;
  top: 3vh;
  right: 3vw;
  opacity: 0.3;
}

#jizhi-search input:focus {
  width: 10vw;
  opacity: 0.6;
  border-bottom: 2px #333333 solid;
}

#jizhi-search:hover input {
  width: 10vw;
  opacity: 0.6;
  border-bottom: 2px #333333 solid;
}

#jizhi-search input {
  outline: none;
  border: none;
  background-color: transparent;
  width: 10vw;
  height: 30px;
  font-size: 16px;
  color: #000000;
  transition: all 350ms ease-in-out;
}

#color-name {
  font-family: "FZXiJinLJW";
  position: absolute;
  font-size: 12em;
  left: 0;
  top: 0;
  opacity: .1;
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: translate(-10%, -5%);
}

#color-name.fadeout {
  opacity: 0;
  animation: fadeOut 5s ease;
}

@keyframes fadeOut {
  0% { opacity: .1; }
  50% { opacity: .1; }
  100% { opacity: 0; }
}
