@font-face {
  font-family: "FZXiJinLJW";
  src: url("./fonts/FZXiJinLJW.ttf") format("truetype");
}

html, body {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.verses {
  font-family: 'FZXiJinLJW';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  text-align: center;
}

.verses a {
  color: inherit;
  text-decoration: none;
}

.waves {
  top: 30%;
}

.waves {
  top: 40%;
}

.blobs #verses-content {
  top: 40%;
}

#menu {
  position: absolute;
  right: 3vw;
  bottom: 3vh;
}

#menu-btn {
  opacity: .6; 
  cursor: pointer;
  transition: all 300ms ease;
  transform-origin: 50% 50%;
}

#menu-btn:hover {
  opacity: 1;
}

#menu-btn.open {
  opacity: 1;
  transform: rotate(45deg) scale(1.1);
}

#color-name {
  font-family: "FZXiJinLJW";
  position: absolute;
  font-size: 12em;
  left: 0;
  top: 0;
  opacity: .1;
  writing-mode: vertical-rl;
  white-space: nowrap;
  transform: translate(-10%, -5%);
}

#color-name.fadeout {
  opacity: 0;
  animation: fadeOut 5s ease;
}

@keyframes fadeOut {
  0% { opacity: .1; }
  50% { opacity: .1; }
  100% { opacity: 0; }
}
